<!--Icon lower navbar for mobile-->
<div class="navbar-bottom">
	<nav class="navbar-bottom">

		<div class="navbar-low">
			<a href="/" class="nav"><i class="fa fa-home"></i>
				<div>Home</div>
			</a>
			<a href="#" class="nav"><i class="fa fa-gears"></i>
				<div>Network</div>
			</a>
			<a href="#" class="nav"><i class="fa fa-pie-chart"></i>
				<div>Chats</div>
			</a>
			<a href="#" class="nav"><i class="fa fa-bell"></i>
				<div>Notifications</div>
			</a>

		</div>
	</nav>
</div>