<!--Icon lower navbar for mobile-->
{{#if currentUser}}
<div class="navbar-bottom">
	<nav class="navbar-bottom navbar-dark bg-dark">

		<div class="navbar-low">
			<div class="low-navbar">
				<a href="/" class="nav">
					<div class="nav-icon"><i class="fa fa-home"></i></div>
					<div>Home</div>
				</a>
			</div>
			<div class="low-navbar">
				<a href="/user/{{currentUser._id}}/network" class="nav">
					<div class="nav-icon"><i class="fa fa-gears"></i></div>
					<div>Network</div>
				</a>
			</div>
			<div class="low-navbar">
				<a href="/chat/list" class="nav">
					<div class="nav-icon"><i class="fa fa-comment"></i></div>
					<div>Chats</div>
				</a>
			</div>
		</div>
	</nav>
</div>
{{/if}}