  
html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#edit-profile-page-container img {
width: 150px;
height: auto;
}

#top-navbar {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 1%;
	z-index: 999;
	margin-bottom: 20px;
}

/* #create-post {
	position: sticky;
	top: 100px;
	z-index: 1;
} */

#post-form {
	background-color: gainsboro;
	padding: 10px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 60px; 
	right: 30px; 
	z-index: 99;
	border-radius: 3px;
	border: none; 
	color: white;
	background-color: lightseagreen;
	justify-content: center;
	cursor: pointer;
	border-radius: 20px; 
  }

#input {
	display: flex;
	flex-direction: row;
}


.hidden-nav-part {
	display: flex;
	
}

.link-nav {
	font-size: medium;
	padding: 0 80px;
	font-size: xx-large;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }


.navbar-brand {

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0 20px;
	  }
	  
	  .navbar-brand img {
		width: 100px;
		max-height: 80px;
	  }

#navbar-elements {
	float: right;
	margin: 0 20px;
}

#pet-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 70px;
}

#photo-gallery {
	padding: 20px;
	margin: 0 auto;
	width: 100%;
}

.pet-photo {
	padding: 10px;
	border-radius: 5px;
}

.user-card {
	padding: 10px;
}

.profile-head {
	background-image: url("/images/petbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


.like-button {
	background-color: white;
	border-color: tomato;
	color: tomato;
	margin-bottom: 5px;
}

.login-btn {
	margin: 20px 0;
}

.right-head {
	color: white;
	margin: auto 0;
	display: flex;
	flex-direction: column;
}

.left-head {
	margin: 50px 20px;

}

#user-profile-btn-area a {
	color: white;
	margin: 10px 0;
	background-color: white;
	color: lightseagreen;
	border-radius: 10px;
}

.pets-card a {
	border-radius: 10px;
}

.pets-image {
	height: 200px;
	width: 200px;
	margin: 50px;
}


#form-buttons {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.save {
	margin-top: 20px;
	margin-bottom: 70px;
}

.post-head {
	display: flex;
}

.post-info {
	margin-left: 20px;
}

.post-image {
	width: 90px;
	height: 90px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
}

#footer-post {
	margin-bottom: 70px;
}

.edit-post-card {
	display: flex;
	padding: 20px;
}

.edit-post-head {
	margin: 20px;
}

.edit-post-form {
	margin: 20px;
}

#edit-save {
	margin: 20px 0;
}

#edit-delete {
	background-color: white;
	border-color: lightseagreen;
	border: 5px;
	color: lightseagreen;
}

#delete-edit {
	background-color: white;
	border-color: lightseagreen;
	color: lightseagreen;
}

#edit {
	background-color: white;
	border-color: lightseagreen;
	border: 5px;
	color: lightseagreen;
}

#delete {
	background-color: white;
	border-color: lightseagreen;
	color: lightseagreen;
}

#submit {
	margin: 30px 0;
}

.list-inline-item {
	font-size: x-large;
}

@media (min-width: 898px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
  	}

  .navbar-bottom {
    	display: none;
  	}

  .pet-photo {
		height: 300px;
		width: 300px;	
	}

	#myBtn {
		bottom: 30px; 
		right: 30px;
		font-size: large;
	}
}

@media (max-width: 897px){

	.navbar-bottom {
		position: fixed;
		bottom: 0;
		z-index: 998;
		padding-bottom: 80px;
	}

	.hidden-nav-part {
		display: none;
	}


	.navbar-low {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.low-navbar {
		font-size: x-large;
	}

	.nav {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		
	}

	.pet-photo {
		height: 200px;
		width: 200px;
	}

	#myBtn {
		margin-bottom: 60px; 
		right: 30px;
	}

	#finish {
		margin-bottom: 100px;
	}

}

/********* CHAT **********/

.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
	margin: 0 0 5px 0;
	padding: 0.5rem 0 0 0.5rem;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0.5rem;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
}

.content{
    margin-top:40px;    
}

/********* CONTACT LIST **********/

.contact-list-image {
	height: 80px;
	width: auto;
}

/********* NETWORK AND CHAT **********/

.network-profile-img {
	margin: 0;
	width: 140px;
	height: auto;
}