  
html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#edit-profile-page-container img {
width: 150px;
height: auto;
}

#top-navbar {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 1%;
	z-index: 1;
	margin-bottom: 20px;
}

/* #create-post {
	position: sticky;
	top: 100px;
	z-index: 1;
} */

#post-form {
	background-color: gainsboro;
	padding: 10px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 60px; 
	right: 30px; 
	z-index: 99;
	border-radius: 3px;
	border: none; 
	color: white;
	background-color: lightseagreen;
	justify-content: center;
	cursor: pointer;
	margin: 0 auto; 
	border-radius: 20px; 
  }

#input {
	display: flex;
	flex-direction: row;
}

.hidden-nav-part {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 50px;

}

.link-nav {
	padding: 0 20px;
	font-size: medium;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
  }


.navbar-brand {

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0 20px;
	  }
	  
	  .navbar-brand img {
		width: 100px;
		max-height: 80px;
	  }

#navbar-elements {
	float: right;
	margin: 0 20px;
}

#pet-gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.pet-photo {
	padding: 5px;
}

.user-card {
	padding: 10px;
}

.profile-head {
	background-image: url("/images/petbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


.like-button {
	background-color: white;
	border-color: tomato;
	color: tomato;
	margin-bottom: 5px;
}

.right-head {
	color: white;
	margin: auto 0;
	display: flex;
	flex-direction: column;
}

.left-head {
	margin: 50px 20px;

}

#user-profile-btn-area a {
	color: white;
	margin: 20px 0;
	background-color: white;
	color: lightseagreen;
	border-radius: 10px;
}

.pets-card a {
	border-radius: 10px;
}

.pets-image {
	height: 200px;
	width: 200px;
	margin: 30px;
}


#form-buttons {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.save {
	margin-top: 20px;
	margin-bottom: 70px;
}

.post-head {
	display: flex;
}

.post-info {
	margin-left: 20px;
}

.post-image {
	max-width: 100px;
	max-height: 100px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
}

#edit-delete {
	background-color: white;
	border-color: lightseagreen;
	border: 5px;
	color: lightseagreen;
}

#delete-edit {
	background-color: white;
	border-color: lightseagreen;
	color: lightseagreen;
}

#edit {
	background-color: white;
	border-color: lightseagreen;
	border: 5px;
	color: lightseagreen;
}

#delete {
	background-color: white;
	border-color: lightseagreen;
	color: lightseagreen;
}

@media (min-width: 898px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
  	}

  .navbar-bottom {
    	display: none;
  	}

  .pet-photo {
		height: 300px;
		width: 300px;	
	}

	#myBtn {
		bottom: 30px; 
		right: 30px;
		font-size: large;
	}
}

@media (max-width: 897px){

	.navbar-bottom {
		position: fixed;
		bottom: 0;
	}

	.hidden-nav-part {
		display: none;
	}


	.navbar-low {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	.nav {
		padding: 10px 0;
		display: flex;
		justify-content: center;
		
	}

	.pet-photo {
		height: 200px;
		width: 200px;
	}

}
