  
html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#edit-profile-page-container img {
width: 150px;
height: auto;
}

@media (min-width: 768px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
	.navbar-bottom {
		display: none;
	}
}
@media (max-width: 767px){

	.navbar-bottom {
		position: fixed;
		bottom: 0;  
	}

	.hidden-nav-part {
		display: none;
	}


	.navbar-low {
		display: flex;
		flex-wrap: wrap;
	}

}